@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.bigTitle,
.startButton {
    font-size: 3rem;
    font-family: 'Michroma', sans-serif;
    font-weight: 900;
    color: rgb(205, 183, 183);
    text-shadow: 2px 2px 2px yellow;
    text-align: center;
}

html,
body {
    height: 100%
}

body {
    background-color: rgb(77, 106, 78);
    margin: 0;
    padding: 0
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

#container,
.footerDiv,
.midDiv {
    display: flex;
    flex-direction: column;
}

.flexedDiv {
    flex: 1;
    height: 100%;
}

.footerText {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-top: auto
}

.footerImg {
    width: 20px;
    border-radius: 50%;
}

.midDiv {
    justify-content: center;
}

.rpsImages {
    width: 200px;
    border-radius: 10%;
}

.startButton {
    background-color: rgb(77, 106, 78);
    font-size: 2rem;
    padding: 1rem 5rem;
    border-radius: 2%;
}

.startDiv {
    display: flex;
    justify-content: center;
}